html,
body {
  margin: 0;
  font-family: "Cambay", sans-serif;
  background-image: url("../assets/background.png");
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #99f5ff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav {
  background-color: #1c5f8b;
  height: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
  > .back {
    background-image: url("../assets/arrow_back-24px--white.svg");
    background-position: 8px;
    background-size: 24px;
    background-repeat: no-repeat;
    width: 30px;
    height: 50px;
    transition: all 200ms;
    &:active {
      opacity: 0.7;
      background-color: white;
      background-image: url("../assets/arrow_back-24px--black.svg");
    }
  }
  > .title {
    font-size: 20pt;
    font-weight: bold;
    color: white;
  }
}

.timetable {
  height: 100%;
  position: relative;
  > .header {
    background-color: #1c5f8b;
    color: white;
    border-radius: 5px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    font-size: 15pt;
    align-items: center;
    margin: 5px;

    > .last,
    .next {
      background-image: url("../assets/arrow_back-24px--white.svg");
      background-position: 8px;
      background-size: 24px;
      background-repeat: no-repeat;
      width: 30px;
      height: 40px;
      border-radius: 5px 0px 0px 5px;
      &:active {
        opacity: 0.7;
        background-color: white;
        background-image: url("../assets/arrow_back-24px--black.svg");
      }
    }
    > .next {
      transform: rotate(180deg);
    }
  }
  > .main {
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.432);
    border-radius: 5px;
    overflow-y: scroll;
    height: calc(100% - 60px);
    position: absolute;
    width: calc(100% - 10px);
    > .subject {
      background-color: white;
      border-radius: 5px;
      margin-bottom: 5px;
      display: flex;
      flex-wrap: wrap;
      padding: 5px;
      > .name {
        font-size: 14pt;
        font-weight: bold;
        width: 100%;
      }
      > .info {
        font-size: 10pt;
        font-style: italic;
      }
    }
  }
}
