@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

nav {
    width: 100%;
    height: 5rem;
    background: #00459e;
    color: #ffffff;
    box-shadow: 1px 1px 3px #000000;
}

nav>.title {
    padding: 10px;
    font-size: 20pt;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #d8d8d8;
}

footer>.selectStundenplan {
    padding: 10px;
}
footer>#status{
    float: right;
    align-items: center;
}

button {
    background: #00459e;
    border-radius: 5px;
    color: #ffffff;
    padding: 10px;
    outline: none;
    border: none;
    box-shadow: 0.5px 0.5px 3px #000000;
    font-size: 11pt;
}

button:active {
    box-shadow: none;
}
table {
    width: 80%;
    height: 60vh;
    margin: 20px auto;
}
table, td, th, tr {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

td, th{
    width: 20px;
    overflow-wrap: break-word;
}
select{
    background: none;
    border: none;
    outline: none;
    font-size: 11pt;
}
.current{
    border: 2px solid #b92020;
}

